<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
    <br><br>
    <p class="container text-center fs-2">
        There is no proper document or Resumes found in this Drive Folder.
        <br>
        <span class="text-danger">Make sure the Resumes are in .pdf or .docx or .doc or .jpg or .jpeg format.</span> 
    </p>
</body>
</html>