<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/custom css/output.css">
</head>

<body>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <img src="/static/media/mindfire_logo.jpeg" alt="Mindfire Solutions" width="20%" class="img-fluid"
            height="auto">
    </div>
    <table class="table table-success table-striped table-hover container text-center">
        <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Skills</td>
        </tr>
        {% for n,e,ph,sk in table %}
        <tr>
            <td>{{n}}</td>
            <td>{{e}}</td>
            <td>{{ph}}</td>
            <td>{{sk}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button class="btn btn-lg btn-primary">Download table as CSV</button>
</body>

<script>
    ////// To download the table as csv format ////////////////
    function download_csv(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV FILE
        csvFile = new Blob([csv], { type: "text/csv" });

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // We have to create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Make sure that the link is not displayed
        downloadLink.style.display = "none";

        // Add the link to your DOM
        document.body.appendChild(downloadLink);

        // Lanzamos
        downloadLink.click();
    }

    function export_table_to_csv(html, filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }

        // Download CSV
        download_csv(csv.join("\n"), filename);
    }

    document.querySelector("button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        export_table_to_csv(html, "table.csv");
    });
</script>

</html>